<header class="header">
    <img src="{{ asset('build/img/logo.png') }}" alt="Logo MusicOne">

    <aside>
        <a href="#">Connexion</a>
        <a href="#">Inscription</a>
    </aside>

    <ul class="header__nav">
        <li class="header__list">
            <a class="header__link" href="#">Home</a>
        </li>
        <li class="header__list">
            <a class="header__link" href="#">Event</a>
        </li>
        <li class="header__list">
            <a class="header__link" href="#">Créer un event</a>
        </li>
        <li class="header__list">
            <a class="header__link" href="#">Contact</a>
        </li>
    </ul>
</header>